.container {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 10px 30px;
    background:linear-gradient(to right,silver,gray);
    height: 45px;
}

.container h4 {
    text-decoration: none;
    color: white;
    cursor: pointer;
}